POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=whatsapp_template
APP_LOG_LEVEL=DEBUG
WHATSAPP_ENABLE_PROD_INTEGRAION=False
WHATSAPP_CONCATENATED_MESSAGE_WAITING_SECONDS=5
